<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
      Team Name:
      Coach:
      Point Gaurd:
      Shooting Forward:
      Small Forward:
      Power Forward:
      Center:


 </body>
</html>
